{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <script src="https://kit.fontawesome.com/9674323289.js" crossorigin="anonymous"></script>
    <title>footer</title>
</head>
<body>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Hotel</h4>
                <ul>
                    <li><a href="">About Us</a> </li>
                    <li><a href="">Our Services</a> </li>
                    <li><a href="">Privacy Policy</a> </li>
                    <li><a href="">Affiliate Program</a> </li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Get Help</h4>
                <ul>
                    <li><a href="">FAQ</a> </li>
                    <li><a href="">Payment Options</a> </li>
                    <li><a href="">Customer Care</a> </li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Rooms</h4>
                <ul>
                    <li><a href="">Executive</a> </li>
                    <li><a href="">Second Class</a> </li>
                    <li><a href="">Economic</a> </li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Follow Us</h4>
                <div class="social-links">
                    <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>