{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>first class rooms</title>
</head>
<body>
{% block content %}
   <style>
    .card-group{
        margin-top: 30px;
    }
    </style>
   <div class="card-group">
        {% for rooms in rooms %}
            {% if rooms.category.name == "three_personel" %}
        <div class="col-12 col-sm-6  col-lg-6 col-xl-3 p-2">
          <div class="card">
            <img src="{{rooms.image.url}}" class="card-img-top" alt="..." height="200px" style="object-fit: cover;padding: 5px;">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center">{{rooms.name}}</h5>
                <p class="card-text">{{ rooms.description }}</p>
                <a  href="{% url 'RoomsDetail' rooms.pk %}" class="btn2">Book now</a>
            </div>
          </div>
        </div>
            {% endif %}
        {% endfor %}
</div>
{% endblock %}
</body>
</html>